<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta charset="UTF-8">
    <title>坦克大战</title>
    <style>
        canvas {
            display: block;
            margin: 0 auto;
            background: #000;
        }
    </style>
</head>
<body>
<canvas id="game"></canvas>
<script src="http://192.168.50.18:3000/lib/socket.io.js"></script>
<script src="http://192.168.50.18:3000/lib/jquery.min.js"></script>
<script src="http://192.168.50.18:3000lib/hilo-standalone.min.js"></script>
<script src="http://192.168.50.18:3000/js/config.js"></script>
<script src="http://192.168.50.18:3000/js/game.js"></script>
</body>
</html>