<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta charset="UTF-8">
    <title>坦克大战</title>
</head>
<body>
<canvas id="stage"></canvas>

<script src="http://127.0.0.1:3000/lib/socket.io.js"></script>
<script src="http://127.0.0.1:3000/lib/jquery.min.js"></script>
<script src="http://127.0.0.1:3000/js/map.js"></script>
<script src="http://127.0.0.1:3000/js/bullet.js"></script>
<script src="http://127.0.0.1:3000/js/tank.js"></script>
<script src="http://127.0.0.1:3000/js/game.js"></script>
<script>
    var socket = io();

    // 接收数据
    socket.on('data', function (obj) {
        if (!GetQueryString('send')) {
            var json = JSON.parse(obj);
            game.keys = json.k;
            game.tank1.x = json.x;
            game.tank1.y = json.y;
            //console.log(game.tank1.x, game.tank1.y);
        }

    });
</script>
</body>
</html>