<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta charset="UTF-8">
    <title>坦克大战</title>
</head>
<body>
<canvas id="stage"></canvas>

<script src="http://192.168.50.18:3000/lib/socket.io.js"></script>
<script src="http://192.168.50.18:3000/lib/jquery.min.js"></script>
<script src="http://192.168.50.18:3000/js/map.js"></script>
<script src="http://192.168.50.18:3000/js/tank.js"></script>
<script src="http://192.168.50.18:3000/js/game.js"></script>
<script>
    var socket = io();

    // 接收数据
    socket.on('data', function (msg) {
        game.keys = msg;
    });
</script>
</body>
</html>